@import '../../styles/config';

.validatorContainer{
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-background-principal;
  display: flex;
  justify-content: center;
  align-items: center;

  .formContainer{
    width: $width-init-form;
    margin: 0 2em;

    @include xs (){
      width: $width-small-form;
      margin: 0;
  }

    .cardRegion{
      width: 100%;
      z-index: 999;
      position: relative;
    }
  
    .controlsRegion{
      width: 100%;
      z-index: 1;

      @include xs (){
        font-size: 0.8em;
      }
    }
  }

}