$font-size-global: 1em;
$width-init-form: 500px;
$width-small-form: 95%;
$height-card: 270px;
$height-small-card: 230px;
$background-card: url(https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/7.jpeg);