@import '../../styles/config';

.formContainer{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 1em;
    border-radius: 0.5em;
    padding-top: 8em;
    margin-top: -7em;
    box-shadow: 0 30px 60px 0 rgba(90,116,148,0.4);

    input, select{
        font-size: 1em;
        border: 1px solid #CCC;
        padding: 0.8em;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 1em;

    }
    span{
        font-size: 0.8em;
    }
    
    .invalidCard::after{
        content: '  Invalid card number';
        color: red !important;
        font-style: italic;
    }


    .othersData{
        display: flex;
        flex-direction: row;
        
        & > div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;

            &:nth-child(2){
                margin: 0 1em;
            }
        }
    }

    button{
        width: 100%;
        padding: 1em;
        border-radius: 5px;
        font-size: 1em;
        margin: 0.5em 0 2em 0;
        background: $color-blue-primary;
        color: white;
        font-weight: bold;
        box-shadow: 3px 10px 20px 0px rgba(35, 100,210, 0.3);
        &:disabled{
            opacity: 0.5;
        }
    }
}