@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");

*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    box-sizing: border-box;    
	font-family: Source Code Pro, Menlo, Consolas, Monaco, monospace;
}

.body{
	font-size: $font-size-global;
}