@import '../../styles/config';

.cardContainer{
    width: 100%;
    height: $height-card;
    padding: 1.5em 4em;

    @include xs (){
        height: $height-small-card;
        padding: 1.5em;
    }

    .card{
        width: 100%;
        height: 100%;
        background: $background-card;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 1em;
        box-shadow: 0 20px 60px 0 rgba(14,42,90,0.55);
        
        @include lt-sm (){
            font-size: 0.8em;
        }

        & > div{
            flex: 1;
        }

        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            img{
                height: 2.5em;
            }
        }

        .body{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 1.5em;
            color: white;
        }

        .footer{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            p{
                font-size: 0.8em;
                color: rgb(173, 173, 173);
                margin-bottom: 0.5em;
            }

            b{
                color: white;
            }

        }
    }
}